@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rating of universities</h1>
    <p class="lead">The information system is designed to meet the challenges of collecting, processing and storage of information required to calculate the ranking of educational institutions.</p>
    <!--<p><a href="//asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            This tutorial will help you quickly get started with the system.
        </p>
        <p><a class="btn btn-default" href="#Getting started">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more information</h2>
        <p>Here are the materials to work with the system.</p>
        <p><a class="btn btn-default" href="#Get more information">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Support</h2>
        <p></p>
        <p><a class="btn btn-default" href="#Get more information">Learn more &raquo;</a></p>
    </div>
</div>