    @model List<RatingUniversity.Models.university>
    @using MyFunctions = RatingUniversity.Classes.Functions;
    @using Resource = RatingUniversity.Langs.Resource;
    {
        ViewBag.Title = "Список вузов";
    }
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @{
        Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml";
    }

    <h2>@ViewBag.Title</h2>
    <table class="table">
        <thead>
            <tr>
                <th>@MyFunctions.Translate(Resource.AccountUniversity, ViewBag.lang, ViewBag.alfabet)</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            string name = (ViewBag.lang == "RU") ? item.name_RU : item.name_UZ;
            <tr>
                <td>
                    <a href="/@ViewBag.controller/Index/@item.id">@MyFunctions.Translate(name, ViewBag.lang, ViewBag.alfabet)</a>
                </td>
            </tr>
        }
    </table>
