@model IEnumerable<RatingUniversity.Models.university>

    @{
        ViewBag.Title = "Monitoring";
    }

    <h2>Monitoring</h2>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>№</th>
                <th></th>
                <th></th>
                <th>Загружено</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@item.id</td>
                <td>@Html.DisplayFor(modelItem => item.name_RU)</td>
                <td>@Html.DisplayFor(modelItem => item.name_UZ)</td>
                <td class="text-center">1/31</td>
            </tr>
        }
        </tbody>
    </table>
