<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/RatingUniversity</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>RatingUniversity</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RatingUniversity.Models.Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=VIRT-SRV\SQLEXPRESS;Initial Catalog=URaiting;User ID=sa;Password=gfhjkm" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RatingUniversity.Models.Entities, RatingUniversity" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AdminContext" Order="2" Enabled="False">
          <Destination Path="Data Source=VIRT-SRV\SQLEXPRESS;Initial Catalog=URaiting;User ID=sa;Password=gfhjkm" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RatingUniversity.Models.ApplicationDbContext, RatingUniversity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="TablesContext" Order="3" Enabled="True">
          <Destination Path="Data Source=VIRT-SRV\SQLEXPRESS;Initial Catalog=URaiting;User ID=sa;Password=gfhjkm" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="RatingUniversity.Models.TablesContext, RatingUniversity" MigrationConfiguration="RatingUniversity.Migrations.Configuration, RatingUniversity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AdminContext-Web.config Connection String">
      <ParameterValue>Data Source=VIRT-SRV\SQLEXPRESS;Initial Catalog=URaiting;User ID=sa;Password=gfhjkm</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RatingUniversity.Models.Entities-Web.config Connection String">
      <ParameterValue>Data Source=VIRT-SRV\SQLEXPRESS;Initial Catalog=URaiting;User ID=sa;Password=gfhjkm</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TablesContext-Web.config Connection String">
      <ParameterValue>Data Source=VIRT-SRV\SQLEXPRESS;Initial Catalog=URaiting;User ID=sa;Password=gfhjkm</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="RatingUniversity.Models.Entities" />
  </ItemGroup>
</Project>