@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-md-3">
		<section id="leftSideMenu">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="../Jadval1">Jadval1</a></li>
				<li><a href="../Jadval2">Jadval2</a></li>
				<li><a href="../Jadval3">Jadval3</a></li>
				<li><a href="../Jadval4">Jadval4</a></li>
				<li><a href="../Jadval5">Jadval5</a></li>
				<li><a href="../Jadval6">Jadval6</a></li>
				<li><a href="../Jadval7">Jadval7</a></li>
				<li><a href="../Jadval8">Jadval8</a></li>
				<li><a href="../Jadval9">Jadval9</a></li>
				<li><a href="../Jadval10">Jadval10</a></li>
				<li><a href="../Jadval11">Jadval11</a></li>
				<li><a href="../Jadval12">Jadval12</a></li>
				<li><a href="../Jadval13">Jadval13</a></li>
				<li><a href="../Jadval14">Jadval14</a></li>
				<li><a href="../Jadval15">Jadval15</a></li>
				<li><a href="../Jadval16">Jadval16</a></li>
				<li><a href="../Jadval17">Jadval17</a></li>
			</ul>
		</section>
	</div>

	<div class="col-md-9">
		@RenderBody()
	</div>
</div>