@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-md-3">
		<section id="leftSideMenu">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="~/Jadval1">Table1</a></li>
                <li><a href="~/Jadval1_2">Table 1_2</a></li>
                <li><a href="~/Jadval1_7">Table 1_7</a></li>
				<li><a href="~/Jadval2">Table2</a></li>
                <li><a href="~/Jadval2_1">Table 2_1</a></li>
                <li><a href="~/Jadval2_2">Table 2_2</a></li>
				<li><a href="~/Table3">Table3</a></li>
				<li><a href="~/Jadval5">Table5</a></li>
				<li><a href="~/Jadval6">Table6</a></li>
				<li><a href="~/Jadval7">Table7</a></li>
				<li><a href="~/Jadval8">Table8</a></li>
				<li><a href="~/Jadval9">Table9</a></li>
				<li><a href="~/Jadval10">Table10</a></li>
				<li><a href="~/Jadval11">Table11</a></li>
				<!--<li><a href="~/Table12">Table12</a></li>
				<li><a href="~/Table13">Table13</a></li>
				<li><a href="~/Table14">Table14</a></li>
				<li><a href="~/Table15">Table15</a></li>
				<li><a href="~/Table16">Table16</a></li>
				<li><a href="~/Table17">Table17</a></li>-->
				<li><a href="~/Jadval18">Table18</a></li>
				<li><a href="~/Jadval19">Table19</a></li>
				<li><a href="~/Jadval20">Table20</a></li>
				<li><a href="~/Jadval21">Table21</a></li>

			</ul>
		</section>
	</div>

	<div class="col-md-9">
		@RenderBody()
	</div>
</div>