@model IEnumerable<RatingUniversity.Models.university>

@{
    ViewBag.Title = "Список вузов";
}
@{
	Layout = "~/Views/Shared/_LayoutSideMenuEdit.cshtml";
}


<h2>@ViewBag.Title</h2>
				  	
<table class="table">
    <thead>
        <tr>
            <th>@RatingUniversity.Classes.Functions.Translate(RatingUniversity.Langs.Resource.AccountUniversity, ViewBag.lang, ViewBag.alfabet)</th>
        </tr>
    </thead>

@foreach (var item in Model) {
    <tr>
        @if (ViewBag.lang=="RU")
		{
			<td>
            <a href="/Jadval32/Index/@item.id">@Html.DisplayFor(modelItem => item.name_RU)</a>
			</td>
		}
		@if (ViewBag.lang=="UZ")
		{
		<td>
			<a href="/Jadval32/Index/@item.id">@Html.DisplayFor(modelItem => item.name_UZ)</a>
		</td>
		}
    </tr>
}

</table>
